* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  color: black;    
  overflow-x: hidden;
  
}




.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  background: #A0522D;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(6px);
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color:black;
}

.logo span {
  color: #5F421C;
}

.nav-links a {
  color: black;
  margin-left: 2rem;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #0e0d0d;
}

.nav-links .btn {
  background: #111111;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-weight: 600;
}


.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.hero-content {
  max-width: 850%;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #0e0d0d;
  letter-spacing: 2px;
}

.hero p {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 2rem;
}