
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-image: url(ChatGPT\ Image\ 11\ nov\ 2025\,\ 15_18_37.png);
  color: black;    
  overflow-x: hidden;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  background: #A0522D;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(6px);
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color:black;
}

.logo span {
  color: #5F421C;
}

.nav-links a {
  color: black;
  margin-left: 2rem;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #0e0d0d;
}

.nav-links .btn {
  background: #111111;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-weight: 600;
}


.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.hero-content {
  max-width: 850%;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #0e0d0d;
  letter-spacing: 2px;
}

.hero p {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.hero-buttons .btn {
  text-decoration: none;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin: 0 0.5rem;
  border-radius: 6px;
  font-weight: 600;
  transition: background 0.3s, transform 0.3s;
}

.btn.primary {
  background: #141414;
}

.btn.secondary {
  border: 2px solid #0f0f0f;
}

.btn:hover {
  transform: scale(1.05);
}


.characters {
  text-align: center;
  padding: 5rem 10%;
  background:  #FFCC99;}

.characters h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #111111;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  background: #5F421C;
  border: 1px solid #333;
  border-radius: 10px;
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
  width: 40%;
  border-radius: 10px 10px 0 0;
}

.card h3 {
  padding: 1rem;
  font-size: 1.2rem;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px ;
}


.footer {
  text-align: center;
  padding: 2rem;
  background: #5F421C;
  color: #777;
  font-size: 0.9rem;
}




.capitulos {
  text-align: center;
  padding: 5rem 10%;
  background: #F08E2B;
}

.capitulos h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #050505;
}

.capitulos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.cap {
  background:  #A0522D;
  border: 1px solid #333;
  border-radius: 10px;
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cap img {
  width: 40%;
  border-radius: 10px 10px 0 0;
}

.cap h3 {
  padding: 1rem;
  font-size: 1.2rem;
}

.cap:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px white;
}


.footer {
  text-align: center;
  padding: 2rem;
  background:  #5F421C;
  color: #777;
  font-size: 0.9rem;
}

/* Responsive */
/*tablet*/
@media (min-width: 851x) and (max-width:1024px) {
  .hero h1 {
    font-size: 1.rem;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }

  
}


/* celular*/
@media screen and (max-width: 480px)
{

  .navbar{
    flex-direction: column;
    align-items: center;
  }
  
  
}
