
    body {
      font-family: Arial, sans-serif;
      background: #FFDBCA;
      color: #A0522D;
    
    }
    body {
  opacity: 0;
  animation: fadeOpacity 5.2s ease-out forwards;
}

@keyframes fadeOpacity {
  from { opacity: 0; }
  to { opacity: 1; }
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  background: #A0522D;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(6px);
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}

.logo span {
  color: #A0522D;
}

.nav-links a{
  color: #fff;
  margin-left: 2rem;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links{
  position: absolute;
  left:1120px;

}
.nav-links a:hover {
  color: #A0522D;
  
}

.nav-links .btn {
  background: #af7a61;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-weight: 600;
}


    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .contenedor {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: center;
      flex-direction: column;
      
    }
    .imagen{
      width: 70%;
      height: 80%;
      background-image: url(./imagenes/adad.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

    }
    .informacion p {
      max-width: 60%;
      text-align: center;
    }

    .informacion{
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 20%;
    }



    
