
    body {
      font-family: Arial, sans-serif;
      background: #1a1a1a;
      color: white;
      padding: 20px;
    }
    body {
  opacity: 0;
  animation: fadeOpacity 5.2s ease-out forwards;
}

@keyframes fadeOpacity {
  from { opacity: 0; }
  to { opacity: 1; }
}

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .contenedor {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: center;
      flex-direction: column;
      
    }
    .imagen{
      width: 70%;
      height: 80%;
      background-image: url(./imagenes/marvel-captain-america-png-image-purepng-transparent-30.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

    }
    .informacion p {
      max-width: 60%;
      text-align: center;
    }

    .informacion{
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 20%;
    }
