section {
 display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

}

.background {
  position: relative;
  width: 750px;
  height: 500px;
  background-image: url(Fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.mario {
  position: absolute;
  bottom: 60px;
  left: 100px;
  width: 80px;
  animation: moveMario 4s linear infinite alternate;
  z-index: 2;
}

.goomba {
  position: absolute;
  bottom: 60px;
  right: 100px;
  width: 60px;
  animation: moveGoomba 3s linear infinite alternate;
  z-index: 2;
}


.clickable {
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.coin {
  width: 40px;
}

.block {
  width: 60px;
}

.coin1 { top: 100px; left: 150px; }
.coin2 { top: 150px; right: 200px; }
.block1 { top: 250px; left: 300px; }
.block2 { top: 250px; right: 280px; }

.clickable:hover {
  transform: scale(1.2);
}

.contador {
  position: absolute;
  top: 15px;
  left: 20px;
  background: rgba(255, 255, 255, 0.7);
  padding: 8px 15px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  z-index: 5;
}


@keyframes moveMario {
  0% { left: 100px; }
  100% { left: 550px; }
}

@keyframes moveGoomba {
  0% { right: 100px; }
  100% { right: 550px; }
}



section {
 display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

}

.fondo {
  position: relative;
  width: 750px;
  height: 500px;
  background-image: url(escena-casa-jardin_1308-97666.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.carro{
  position: absolute;
  bottom: 60px;
  left: 100px;
  width: 80px;
  animation: moveMario 4s linear infinite alternate;
  z-index: 2;
}

.lambo {
  position: absolute;
  bottom: 76px;
  right: 100px;
  width: 80px;
  animation: moveGoomba 3s linear infinite alternate;
  z-index: 2;
}


.clickable {
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.reloj {
  width: 40px;
}

.reloj {
  width: 60px;
}

.reloj1 { top: 100px; left: 150px; }
.reloj2 { top: 150px; right: 200px; }
.reloj1 { top: 250px; left: 300px; }
.reloj2 { top: 250px; right: 280px; }

.clickable:hover {
  transform: scale(1.2);
}

.contador {
  position: absolute;
  top: 15px;
  left: 20px;
  background: rgba(255, 255, 255, 0.7);
  padding: 8px 15px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  z-index: 5;
}


@keyframes movecarro {
  0% { left: 100px; }
  100% { left: 550px; }
}

@keyframes movelambo {
  0% { right: 100px; }
  100% { right: 550px; }
}



section {
 display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

}

.playaa {
  position: relative;
  width: 750px;
  height: 500px;
  background-image: url(playa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.cangrejo {
  position: absolute;
  bottom: 60px;
  left: 100px;
  width: 80px;
  animation: moveMario 4s linear infinite alternate;
  z-index: 2;
}

.sol {
  position: absolute;
  bottom: 350px;
  right: 100px;
  width: 60px;
  animation: moveGoomba 3s linear infinite alternate;
  z-index: 2;
}


.clickable {
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.pelota {
  width: 40px;
}

.pelota {
  width: 60px;
}

.pelota1 { top: 100px;
   left: 150px; 
  }
.pelota2 { top: 150px; 
  right: 200px; 
}
.pelota1 { top: 250px; 
  left: 300px; 
}
.pelota2 { top: 250px; 
  right: 280px; 
}

.clickable:hover {
  transform: scale(1.2);
}

.contador {
  position: absolute;
  top: 15px;
  left: 20px;
  background: rgba(255, 255, 255, 0.7);
  padding: 8px 15px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  z-index: 5;
}


@keyframes movecangrejo {
  0% { left: 100px; }
  100% { left: 550px; }
}

@keyframes movesol {
  0% { right: 100px; }
  100% { right: 550px; }
}